.list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .5s;
}

.list-item:hover {
  background-color: #f1e7fa;
}

.list-item-icon {
  margin-left: 0.1rem;
}

.list-item-text {
  margin-left: 2.8rem;
  overflow: hidden;
}